<section class="mb-[-6%] relative z-10">
	<div class="container">
		<div class="py-9 px-16 bg-black rounded-primary flex items-center justify-between gap-5">
			<div>
				<h2 class="h2 leading-10 text-[40px] text-white basis-2/4">STAY UPTO DATE ABOUT OUR LATEST OFFERS</h2>
			</div>
			<div class="flex flex-col gap-[14px] basis-[31.48%]">
				<form>
					<label class="block relative h-full">
						<button id="search-input" class="flex ml-auto w-6 h-6 text-2xl [.search-open_&]:absolute top-3 left-4 sm:absolute sm:top-3 sm:left-4 pointer-events-none" aria-label="search">
							<i class="sm:text-black/40 _icon-mail text-xl"></i>
						</button>
						<input class="sm:text-base sm:block hidden bg-c-white-light pr-10 pl-[52px] rounded-[62px] w-full h-12" autocomplete="off" type="text" name="search" placeholder="Enter your email address" />
					</label>
				</form>
				<button class="button bg-white text-black hover:bg-c-yellow px-[68px] py-[14px]  mdMax:w-full">
					Subscribe to Newsletter
				</button>
			</div>
		</div>
	</div>
</section>