<div class="px-6 py-6 lg:py-9 lg:px-16 bg-black rounded-primary flex flex-col md:flex-row md:items-center justify-between gap-8 md:gap-5">
	<div class="basis-2/4">
		<h2 class="title h2 h2_small leading-10 text-white">STAY UPTO DATE ABOUT OUR LATEST OFFERS</h2>
	</div>
	<div class="flex flex-col gap-[14px] md:basis-[31.48%] md:min-w-80">
		<form>
			<label class="block relative h-full">
				<i class="flex ml-auto w-6 h-6  absolute top-4 md:top-3 left-4  pointer-events-none text-black/40 _icon-mail text-sm md:text-xl"></i>
				<input class="sm:text-base sm:block bg-c-white-light pr-10 pl-12 md:pl-[52px] rounded-[62px] w-full h-12" autocomplete="off" type="text" name="search" placeholder="Enter your email address" />
			</label>
		</form>
		<button class="button bg-white  text-black  px-5 md:px-[68px] py-2 min-h-[48px] md:min-h-[46px]">
			Subscribe to Newsletter
		</button>
	</div>
</div>