<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Product Details</title>
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
	<div class="flex justify-between py-1 font-sans text-sm text-gray-800 border-b border-gray-200">
		<dt class="font-normal text-gray-500">Series</dt>
		<dd class="font-bold">K737</dd>
	</div>
	<div class="flex justify-between py-1 font-sans text-sm text-gray-800 border-b border-gray-200">
		<dt class="font-normal text-gray-500">Seasonality</dt>
		<dd class="font-bold">Summer</dd>
	</div>
	<div class="flex justify-between py-1 font-sans text-sm text-gray-800 border-b border-gray-200">
		<dt class="font-normal text-gray-500">Diameter</dt>
		<dd class="font-bold">R16</dd>
	</div>
	<div class="flex justify-between py-1 font-sans text-sm text-gray-800 border-b border-gray-200">
		<dt class="font-normal text-gray-500">Tire Width</dt>
		<dd class="font-bold">205 mm</dd>
	</div>
	<div class="flex justify-between py-1 font-sans text-sm text-gray-800 border-b border-gray-200">
		<dt class="font-normal text-gray-500">Profile, %</dt>
		<dd class="font-bold">55</dd>
	</div>
</body>

</html>