<ul class="flex flex-wrap gap-3 ml-auto">
	<li>
		<a class="w-[46px] h-[30px] bg-white border border-black/0.3 rounded-md flex justify-center items-center" aria-label="visa" href="#">
			<img class="w-8 h-4 object-contain" src="@i/payments/visa.png" alt="visa">
		</a>
	</li>
	<li>
		<a class="w-[46px] h-[30px] bg-white border border-black/0.3 rounded-md flex justify-center items-center" aria-label="mastercard" href="#">
			<img class="w-8 h-4 object-contain" src="@i/payments/mastercard.png" alt="mastercard">
		</a>
	</li>
	<li>
		<a class="w-[46px] h-[30px] bg-white border border-black/0.3 rounded-md flex justify-center items-center" aria-label="paypal" href="#">
			<img class="w-8 h-4 object-contain" src="@i/payments/paypal.png" alt="paypal">
		</a>
	</li>
</ul>