body {
   font-family: Arial, sans-serif;
   line-height: 1.6;
   width: 100%;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

h1,
h2,
h3 {
   color: #333;
   margin-bottom: 10px;
}

p:not(:last-child),
ul:not(:last-child) {
   margin-bottom: 10px;
}

ul {
   padding-left: 20px;
}

nav {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

nav a {
   text-decoration: none;
   text-transform: uppercase;
   font-size: 12px;
   padding: 3px 7px;
   border: 1px solid #333;
   transition: color 0.2s, background 0.2s;
   background: #333;
   color: #fff;
}

nav a:hover {
   color: #525252;
   background: #fff;
}

section {
   padding: 20px 0;
}

code {
   background: #f4f4f4;
   padding: 2px 5px;
   border-radius: 4px;
}

.wrapper {
   padding: 20px;
   max-width: 1300px;
   width: 100%;
   margin: 0 auto;
}

.tree {
   span {
      font-size: 12px;
      color: #088d11;
      font-weight: 600;
   }
   i {
      color: #b5b5b5;
   }
}

.command {
   background: #eee;
   padding: 2px 5px;
}

.code-output {
   background: #f4f4f4;
   padding: 10px;
   border-radius: 4px;
   margin-bottom: 10px;
}

button {
   padding: 5px 10px;
   cursor: pointer;
}

.code-block {
   background: #f4f4f4;
   padding: 10px;
   border-radius: 4px;
   margin-bottom: 10px;
   border: 1px dashed #b5b5b5;
}

.copy {
   padding: 1px 5px;
   cursor: pointer;
   margin-top: 10px;
}