html,
body {
	scroll-behavior: smooth;
	overscroll-behavior-y: none;
}

html,
body,
.wrapper {
	min-height: 100vh;
	min-height: 100svh;
}

body {
	font-family: var(--ff-primary);
	font-weight: 700;
	font-style: normal;
	line-height: 1.5;
	min-width: 320px;

	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}

	.loaded & {
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	main {
		flex: 1 1 auto;
	}
}
