<section class="pt-10 pb-6  md:pt-16 md:py-6">
	<div class="container flex flex-col">
		<h2 class="title h2 text-center not-last:mb-14">TOP SELLING</h2>
		<ul class="grid grid-cols-2 gap-5 lg:grid-cols-4 not-last:mb-9">
			<li>
				<a class="rounded-middle block bg-c-gray relative pb-[101.02%] mb-4 overflow-hidden group/img-scale" href="#">
					<img class="px-6 py-6 ibg-contain    transition-all duration-500 ease-linear" src="@i/products/product01.png" alt="product">
				</a>
				<div class="flex flex-col items-start gap-1">
					<a href="#">
						<span class="anim-has[:hover]:scale-105">asdasasdd</span>
						<h3 class="text-xl font-bold capitalize line-clamp-2 break-words group/img-scale anim">Vertical Striped Shirt</h3>
					</a>
					<div class="flex items-center gap-x-2" data-rating data-rating-value="4.5">
						<div class=" flex gap-x-2">
							<svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none">
								<path d="M11.2895 0L14.4879 6.8872L22.0264 7.80085L16.4647 12.971L17.9253 20.4229L11.2895 16.731L4.6537 20.4229L6.11428 12.971L0.552547 7.80085L8.09104 6.8872L11.2895 0Z" fill="#E0E0E0" />
							</svg>
							<svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none">
								<path d="M11.2895 0L14.4879 6.8872L22.0264 7.80085L16.4647 12.971L17.9253 20.4229L11.2895 16.731L4.6537 20.4229L6.11428 12.971L0.552547 7.80085L8.09104 6.8872L11.2895 0Z" fill="#E0E0E0" />
							</svg>
							<svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none">
								<path d="M11.2895 0L14.4879 6.8872L22.0264 7.80085L16.4647 12.971L17.9253 20.4229L11.2895 16.731L4.6537 20.4229L6.11428 12.971L0.552547 7.80085L8.09104 6.8872L11.2895 0Z" fill="#E0E0E0" />
							</svg>
							<svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none">
								<path d="M11.2895 0L14.4879 6.8872L22.0264 7.80085L16.4647 12.971L17.9253 20.4229L11.2895 16.731L4.6537 20.4229L6.11428 12.971L0.552547 7.80085L8.09104 6.8872L11.2895 0Z" fill="#E0E0E0" />
							</svg>
							<svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none">
								<path d="M11.2895 0L14.4879 6.8872L22.0264 7.80085L16.4647 12.971L17.9253 20.4229L11.2895 16.731L4.6537 20.4229L6.11428 12.971L0.552547 7.80085L8.09104 6.8872L11.2895 0Z" fill="#E0E0E0" />
							</svg>
						</div>
						<p class="text-[14px]"><span>4.5</span>/<span class="text-black/60">5</span></p>
					</div>
					<div class="flex flex-wrap gap-x-4 gap-y-2">
						<p class="text-2xl font-bold"><span>$</span>212</p>
						<p class="text-2xl text-black/40 font-bold line-through"><span>$</span>232</p>
						<p class="text-xs text-c-red font-medium   flex items-center justify-center text-center  px-[14px] py-[6px] rounded-big bg-discount">-20%</p>
					</div>
				</div>
			</li>
		</ul>
		<button class="button  button_transparent self-center px-20 py-[14px]">
			View All
		</button>
	</div>
</section>