<section class="pt-10 pb-6  md:pt-16 md:py-6">
	<div class="container">
		<h2 class="title h2 text-center not-last:mb-14">TOP SELLING</h2>
		<ul class="grid grid-flow-cols-2 gap-5 lg:grid-cols-4">
			<li>
				<a class="rounded-middle block bg-c-gray relative pb-[101.02%] mb-4" href="#">
					<img class="px-6 py-6 ibg-contain" src="@i/products/product01.png" alt="product">
				</a>
				<a href="#">
					<h3 class="text-xl font-bold">Vertical Striped Shirt</h3>
				</a>
				<div class=""><span>4.5</span> <span>5</span></div>
				<div>$120</div>
			</li>
		</ul>
	</div>
</section>