<section class="pt-10 pb-6  md:pt-16 md:py-6">
	<div class="container flex flex-col items-center">
		<h2 class="title h2 text-center not-last:mb-14">TOP SELLING</h2>
		<ul class="grid grid-flow-cols-2 gap-5 lg:grid-cols-4 not-last:mb-9">
			<li>
				<a class="rounded-middle block bg-c-gray relative pb-[101.02%] mb-4" href="#">
					<img class="px-6 py-6 ibg-contain" src="@i/products/product01.png" alt="product">
				</a>
				<div class="flex flex-col gap-2">
					<a href="#">
						<h3 class="text-xl font-bold capitalize line-clamp-2 break-words">Vertical Striped Shirt</h3>
					</a>
					<div><span>4.5</span> <span>5</span></div>
					<div class="flex flex-wrap gap-x-4 gap-y-2">
						<p class="text-2xl font-bold"><span>$</span>212</p>
						<p class="text-2xl text-black/40 font-bold line-through"><span>$</span>232</p>
						<p class="text-xs text-c-red font-medium   flex items-center justify-center text-center  px-[14px] py-[6px] rounded-big bg-discount">-20%</p>
					</div>
				</div>
			</li>
		</ul>

	</div>
</section>