<div class="bg-black py-5 md:py-10">
	<div class="flex items-center" data-marquee data-marquee-speed='250' data-marquee-space='50'>
		<img class="w-full h-8 aspect-3/2 object-contain" src="@i/brands/versace.svg" alt="versace">
		<img class="w-full  h-8 aspect-3/2 object-contain" src="@i/brands/zara.svg" alt="zara">
		<img class="w-full  h-8 aspect-3/2 object-contain" src="@i/brands/gucci.svg" alt="gucci">
		<img class="w-full  h-8 aspect-3/2 object-contain" src="@i/brands/prada.svg" alt="prada">
		<img class="w-full  h-8 aspect-3/2 object-contain" src="@i/brands/calvin-klein.svg" alt="calvin-klein">
	</div>
</div>