<div class="flex flex-wrap gap-3">
	<a class="flex justify-center items-center text-xs w-7 h-7 border border-black/0.3 rounded-full bg-white hover:bg-black hover:border-black hover:text-white transition-all duration-300" href="#" aria-label="twitter">
		<i class="_icon-twitter"></i>
	</a>
	<a class="flex justify-center items-center text-xs  w-7 h-7 border border-black/0.3 rounded-full bg-white hover:bg-black hover:border-black hover:text-white transition-all duration-300" href="#" aria-label="twitter">
		<i class="_icon-facebook"></i>
	</a>
	<a class="flex justify-center items-center text-xs  w-7 h-7 border border-black/0.3 rounded-full bg-white hover:bg-black hover:border-black hover:text-white transition-all duration-300" href="#" aria-label="twitter">
		<i class="_icon-instagram"></i>
	</a>
	<a class="flex justify-center items-center text-xs  w-7 h-7 border border-black/0.3 rounded-full bg-white hover:bg-black hover:border-black hover:text-white transition-all duration-300" href="#" aria-label="twitter">
		<i class="_icon-github"></i>
	</a>
</div>