<section class="py-12 md:py-10">
	<div class="container">
		<div class="flex  gap-x-5 not-last:mb-6 md:not-last:mb-10">
			<h2 class="title h2 grow">OUR HAPPY CUSTOMERS</h2>
			<div class="flex items-center gap-x-4 self-end">
				<button class="_icon-arrow-slider hover:text-c-yellow transition-all duration-300" type="button" aria-label="The previous slide"></button>
				<button class="_icon-arrow-slider rotate-180 hover:text-c-yellow transition-all duration-300" type="button" aria-label="The next slide"></button>
			</div>
		</div>
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div>
						<div class="flex gap-x-1 items-center">
							<i class="_icon-star text-c-yellow"></i>
							<i class="_icon-star text-c-yellow"></i>
							<i class="_icon-star text-c-yellow"></i>
							<i class="_icon-star text-c-yellow"></i>
							<i class="_icon-star text-c-yellow"></i>
						</div>
						<div>
							<span>Sarah M.</span>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>