<section class="py-12 md:py-10">
	<div class="container">
		<div class="flex items-center justify-between gap-x-5 not-last:mb-6 md:not-last:mb-10">
			<h2 class="title h2 text-center not-last:mb-8 md:not-last:mb-14">OUR HAPPY CUSTOMERS</h2>
			<div class="flex items-center gap-x-4">
				<button class="_icon-arrow-slider" type="button" aria-label="The previous slide"></button>
				<button class="_icon-arrow-slider" type="button" aria-label="The next slide"></button>
			</div>
		</div>
	</div>
</section>