<footer class="pt-[50px] pb-16 bg-c-white-light">
	<div class="container">
		<div class="grid grid-cols-5 gap-[133px]">
			<div>
				<img src="@i/logo.svg" alt="logo">
				<p>We have clothes that suits your style and which you’re proud to wear. From women to men.</p>
				<div>
					<a href="#"></a>
				</div>
			</div>
			<nav>
				<h3 class="mb-[26px] uppercase leading-4 font-medium tracking-[0.1875em]">Company</h3>
				<ul class="grid gap-4">
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">About</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Features</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Works</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Career</a>
					</li>
				</ul>
			</nav>
			<nav>
				<h3 class="mb-[26px] uppercase leading-4 font-medium tracking-[0.1875em]">Help</h3>
				<ul class="grid gap-4">
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Customer Support</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Delivery Details</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Terms & Conditions</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#"> Privacy Policy</a>
					</li>
				</ul>
			</nav>
			<nav>
				<h3 class="mb-[26px] uppercase leading-4 font-medium tracking-[0.1875em]">Help</h3>
				<ul class="grid gap-4">
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Customer Support</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Delivery Details</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Terms & Conditions</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#"> Privacy Policy</a>
					</li>
				</ul>
			</nav>
		</div>
		<div>
			<p>Shop.co © 2000-2023, All Rights Reserved</p>
			<ul>
				<li>
					<a href="#">
						<img src="@i/payments/visa.png" alt="visa">
					</a>
				</li>
		</div>
	</div>
</footer>