<footer class="">
	<div class="container">
		<nav>
			<h3>Company</h3>
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Features</a></li>
				<li><a href="#">Works</a></li>
				<li><a href="#">Career</a></li>
			</ul>
		</nav>
		<nav>
			<h3>Help</h3>
			<ul>
				<li><a href="#">Customer Support</a></li>
				<li><a href="#">Delivery Details</a></li>
				<li><a href="#">Terms & Conditions</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
		</nav>
		<nav>
			<h3>FAQ</h3>
			<ul>
				<li><a href="#">Account</a></li>
				<li><a href="#">Features</a></li>
				<li><a href="#">Works</a></li>
				<li><a href="#">Career</a></li>
			</ul>
		</nav>
		<nav>
			<h3>Company</h3>
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Features</a></li>
				<li><a href="#">Works</a></li>
				<li><a href="#">Career</a></li>
			</ul>
		</nav>
	</div>
</footer>