<footer class="pt-[50px] pb-16 bg-c-white-light">
	<div class="container">
		<div class="pb-10 grid grid-cols-2 gap-6  border-b border-black/0.1 md:pb-[50px] lg:grid-cols-[248px_auto_auto_auto_auto] lg:footer-col-gap">
			<div class="lgMax:col-span-2">
				<div class="w-[163px] h-6 mb-[14px]  lg:mb-6">
					<img class="w-full h-full object-contain" src="@i/logo.svg" alt="logo">
				</div>
				<p class="text-[14px] mb-5 lg:mb-9">We have clothes that suits your style and which you’re proud to wear. From women to men.</p>
				<include src="@c/socials/_socials.html"></include>
			</div>
			<nav>
				<h3 class="mb-[26px] uppercase leading-4 font-medium tracking-[0.1875em]">Company</h3>
				<ul class="grid gap-4">
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">About</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Features</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Works</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Career</a>
					</li>
				</ul>
			</nav>
			<nav>
				<h3 class="mb-[26px] uppercase leading-4 font-medium tracking-[0.1875em]">Help</h3>
				<ul class="grid gap-4">
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Customer Support</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Delivery Details</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Terms & Conditions</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#"> Privacy Policy</a>
					</li>
				</ul>
			</nav>
			<nav>
				<h3 class="mb-[26px] uppercase leading-4 font-medium tracking-[0.1875em]">FAQ</h3>
				<ul class="grid gap-4">
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Account
						</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Manage Deliveries</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Orders</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Payments</a>
					</li>
				</ul>
			</nav>
			<nav>
				<h3 class="mb-[26px] uppercase leading-4 font-medium tracking-[0.1875em]">Resources</h3>
				<ul class="grid gap-4">
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Free eBooks
						</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">Development Tutorial</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#">How to - Blog</a>
					</li>
					<li>
						<a class="leading-4 text-black/60 hover:underline" href="#"> Youtube Playlist</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="grid justify-center text-center md:grid-cols-[350px_1fr]  gap-4  pt-6 pb-6">
			<p>Shop.co © 2000-2023, All Rights Reserved</p>
			<include src="@c/payments/_payments.html"></include>
		</div>
	</div>
</footer>