<footer class="pt-[50px] pb-16 bg-c-white-light">
	<div class="container">
		<div class="">
			<div>
				<img src="@i/logo.svg" alt="logo">
				<p>We have clothes that suits your style and which you’re proud to wear. From women to men.</p>
				<div>
					<a href="#"></a>
				</div>
			</div>
			<nav>
				<h3>Company</h3>
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Features</a></li>
					<li><a href="#">Works</a></li>
					<li><a href="#">Career</a></li>
				</ul>
			</nav>
			<nav>
				<h3>Help</h3>
				<ul>
					<li><a href="#">Customer Support</a></li>
					<li><a href="#">Delivery Details</a></li>
					<li><a href="#">Terms & Conditions</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
			</nav>
			<nav>
				<h3>FAQ</h3>
				<ul>
					<li><a href="#">Account</a></li>
					<li><a href="#">Manage Deliveries</a></li>
					<li><a href="#">Orders</a></li>
					<li><a href="#">Payments</a></li>
				</ul>
			</nav>
			<nav>
				<h3>Resources</h3>
				<ul>
					<li><a href="#">Free eBooks</a></li>
					<li><a href="#">Development Tutorial</a></li>
					<li><a href="#">How to - Blog</a></li>
					<li><a href="#">Youtube Playlist</a></li>
				</ul>
			</nav>
		</div>
		<div>
			<p>Shop.co © 2000-2023, All Rights Reserved</p>
			<ul>
				<li>
					<a href="#">
						<img src="@i/payments/visa.png" alt="visa">
					</a>
				</li>
		</div>
	</div>
</footer>