<section class="bg-c-white-light">
	<div class="container pb-14  lg:pb-28 pt-10 lg:pt-[103px] grid md:grid-cols-[49.3%_1fr] gap-12">
		<div class="">
			<h1 class="h1 not-last:mb-5 md:not-last:mb-8 text-balance">FIND CLOTHES THAT MATCHES YOUR STYLE</h1>
			<p class="leading-6 not-last:mb-6 md:not-last:mb-8 lg:max-w-[545px]">Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.</p>
			<button class="button hover:bg-c-yellow px-[68px] py-[14px] not-last:mb-12 mdMax:w-full">Shop Now</button>
			<ul class="grid grid-cols-3  justify-center gap-counter ">
				<li class="flex gap-counter not-last:after:content-['']  not-last:after:w-[1px] not-last:after:basis-[1px] not-last:after:bg-black/10 not-last:after:ml-auto">
					<div class="flex flex-col">
						<span class="block counter-title  font-bold pc:text-[40px]">200+</span>
						<span class="counter-text text-black/60">International Brands</span>
					</div>
				</li>
				<li class="flex gap-counter not-last:after:content-['']  not-last:after:w-[1px] not-last:after:basis-[1px] not-last:after:bg-black/10 not-last:after:ml-auto">
					<div class="flex flex-col">
						<span class="block counter-title font-bold pc:text-[40px]">2,000+</span>
						<span class="counter-text text-black/60">High-Quality Products</span>
					</div>
				</li>
				<li class="flex gap-counter not-last:after:content-['']  not-last:after:w-[1px] not-last:after:basis-[1px] not-last:after:bg-black/10 not-last:after:ml-auto">
					<div class="flex flex-col">
						<span class="block counter-title  font-bold pc:text-[40px]">30,000+</span>
						<span class="counter-text text-black/60">Happy Customers</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="relative h-full after:content-[''] after:absolute after:top-0 after:right-0 after:bg-decor-star  after:w-[104px] after:h-[104px]">
			<img class="w-full md:ibg-contain object-bottom" fetchpriority="heigh" src="@i/a-girl-and-a-guy-stand-next-to-each-other-in-denim-jackets-removebg-preview.png" alt="a girl and a guy stand next to each other in denim jackets">
		</div>
	</div>
</section>