<section class="bg-c-white-light">
	<div class="container pt-10 lg:pt-[103px] grid md:grid-cols-[49.3%_1fr] gap-7 md:gap-12">
		<div class="md:pb-14  lg:pb-28">
			<h1 class="h1 not-last:mb-5 md:not-last:mb-8 text-balance">FIND CLOTHES THAT MATCHES YOUR STYLE</h1>
			<p class="leading-6 not-last:mb-6 md:not-last:mb-8 lg:max-w-[545px] text-black/60">Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.</p>
			<button class="button hover:bg-c-yellow px-[68px] py-[14px]  not-last:mb-[22px] md:not-last:mb-12  mdMax:w-full">Shop Now</button>
			<ul class="grid grid-cols-2  justify-items-center md:justify-center gap-y-3 md:gap-counter not-last:mb-[22px] md:not-last:mb-12 md:grid-cols-3 ">
				<li class="flex gap-x-7 md:gap-counter  mdMax:ml-auto not-last:after:content-['']  not-last:after:w-[1px] not-last:after:basis-[1px] not-last:after:bg-black/10 not-last:after:ml-auto">
					<div class="flex flex-col gap-1">
						<span class="block text-2xl md:counter-title  font-bold">200+</span>
						<span class=" text-xs md:counter-text text-black/60">International Brands</span>
					</div>
				</li>
				<li class="flex gap-x-7 md:gap-counter md:not-last:after:content-['']  md:not-last:after:w-[1px] md:not-last:after:basis-[1px] md:not-last:after:bg-black/10 md:not-last:after:ml-auto mdMax:mr-auto mdMax:pl-7">
					<div class="flex flex-col gap-1">
						<span class="block text-2xl md:counter-title font-bold">2,000+</span>
						<span class=" text-xs md:counter-text text-black/60">High-Quality Products</span>
					</div>
				</li>
				<li class="flex gap-x-7 md:gap-counter not-last:after:content-['']  not-last:after:w-[1px] not-last:after:basis-[1px] not-last:after:bg-black/10 not-last:after:ml-auto mdMax:col-span-2">
					<div class="flex flex-col gap-1">
						<span class="block text-2xl md:counter-title  font-bold">30,000+</span>
						<span class="text-xs md:counter-text text-black/60">Happy Customers</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="relative h-full after:content-[''] after:absolute after:top-0 after:right-0 after:bg-decor-star  after:w-[104px] after:h-[104px] mdMax:-mx-10">
			<img class="w-full md:ibg-contain object-bottom" fetchpriority="heigh" src="@i/a-girl-and-a-guy-stand-next-to-each-other-in-denim-jackets-removebg-preview.png" alt="a girl and a guy stand next to each other in denim jackets">
		</div>
	</div>
</section>