<header data-get-height id="header" class="fixed top-0 right-0 left-0 w-full z-50 py-[5px] bg-white">
	<div class="container grid min-h-14 sm:min-h-24 smMax:[.search-open_&]:grid-cols-[30px_1fr]  items-center sm:gap-10 lgMax:gap-3  lgMax:grid-cols-[30px_126px_1fr_62px] lg:grid-cols-[160px_300px_1fr_62px]">
		<button class="icon-menu" type="button" aria-label="open menu" data-menu-open>
			<span></span>
		</button>
		<div class="smMax:[.search-open_&]:hidden  relative z-10">
			<img src="@i/logo.svg" alt="logo">
		</div>
		<include src="./src/html/components/header/_menu.html"></include>
		<form>
			<label class="block relative h-full">
				<button id="search" class="flex ml-auto w-6 h-6 text-2xl [.search-open_&]:absolute top-3 left-4 sm:absolute sm:top-3 sm:left-4  sm:pointer-events-none" aria-label="search">
					<i class="sm:text-black/40 _icon-serach"></i>
				</button>
				<input class="[.menu-open_&]:bg-white [.search-open_&]:block  sm:text-base  sm:block hidden bg-c-white-light pr-3 pl-[52px] rounded-[62px] w-full h-12 group-[.menu-open]" autocomplete="off" type="search" name="search"
					placeholder="Search for products...">
			</label>
		</form>
		<div class="smMax:[.search-open_&]:hidden  flex gap-3">
			<button class="relative z-10 flex justify-cente items-center w-6 h-6 hover:text-c-yellow transition-all duration-300 basis-6" aria-label="shop">
				<i class="font-bold text-[24px] _icon-shop"></i>
			</button>
			<button class="relative z-10 flex justify-center items-center w-6 h-6 hover:text-c-yellow transition-all duration-300 basis-6" aria-label="use">
				<i class="font-bold text-[24px] _icon-user"></i>
			</button>
		</div>
	</div>
</header>