<header data-get-height="header" id="header" class="fixed top-0 right-0 left-0 w-full z-50 py-[5px] bg-white border-b border-black/10">
	<div class="container  grid grid-cols-[30px_126px_auto] min-h-14 sm:min-h-24 smMax:[.search-open_&]:grid-cols-[30px_1fr_auto] items-center sm:gap-10 lgMax:gap-3 sm:grid-cols-[30px_126px_1fr_62px] lg:grid-cols-[160px_300px_1fr_62px]">
		<button class="icon-menu" type="button" aria-label="open menu" data-menu-open>
			<span></span>
		</button>
		<div class="smMax:[.search-open_&]:hidden relative z-10">
			<img src="@i/logo.svg" alt="logo" />
		</div>
		<include src="./src/html/components/header/_menu.html"></include>
		<form class="[.search-open_&]:block smMax:hidden">
			<div class="block relative h-full">
				<button id="search-input" class="flex ml-auto w-6 h-6 text-2xl [.search-open_&]:absolute top-3 left-4 sm:absolute sm:top-3 sm:left-4 pointer-events-none" aria-label="search">
					<i class="sm:text-black/40 _icon-serach"></i>
				</button>
				<input class="[.menu-open_&]:bg-white [.search-open_&]:block sm:text-base sm:block hidden bg-c-white-light pr-10 pl-[52px] rounded-[62px] w-full h-12 group-[.menu-open]" autocomplete="off" type="text" name="search"
					placeholder="Search for products..." data-switch-placeholder data-mobile-placeholder="Search..." />
				<button id="search-form-clear" class="absolute right-4 top-4 w-4 h-4 visible" type="button" hidden aria-label="close search input">
					<i class="_icon-close"></i>
				</button>
			</div>
		</form>
		<div class=" flex gap-4 sm:gap-[14px] flex-wrap smMax:ml-auto relative z-10">
			<button class="hidden smMax:[.search-open_&]:block" data-close-search>Cancel</button>
			<button id="search" class="flex w-6 h-6 text-2xl [.search-open_&]:hidden sm:hidden" aria-label="search">
				<i class="_icon-serach"></i>
			</button>
			<button class="relative z-10 flex justify-cente items-center w-6 h-6 hover:text-c-yellow transition-all duration-300 basis-6 smMax:[.search-open_&]:hidden" aria-label="shop">
				<i class="text-3xl _icon-shop"></i>
			</button>
			<button class="relative z-10 flex justify-center items-center w-6 h-6 hover:text-c-yellow transition-all duration-300 basis-6 smMax:[.search-open_&]:hidden" aria-label="use">
				<i class="text-3xl _icon-user"></i>
			</button>
		</div>
	</div>
</header>