<div class="menu">
	<nav class="menu-body">
		<ul class="menu-list">
			<li><a href="#" class="text-4xl lg:text-base hover:text-c-yellow transition-all duration-300">Shop</a></li>
			<li><a href="#" class="text-4xl lg:text-base hover:text-c-yellow transition-all duration-300">On Sale</a></li>
			<li><a href="#" class="text-4xl lg:text-base hover:text-c-yellow transition-all duration-300">New Arrivals</a></li>
			<li><a href="#" class="text-4xl lg:text-base hover:text-c-yellow transition-all duration-300">Brands</a></li>
		</ul>
	</nav>
</div>