%ic {
	font-family: "icons" !important;
	//   display: block;
	//   font-style: normal;
	//   font-weight: normal;
	//   font-variant: normal;
	//   text-transform: none;
	//   line-height: 1;
	//   -webkit-font-smoothing: antialiased;
	//   -moz-osx-font-smoothing: grayscale;
}

[class*="_icon-"] {
	@extend %ic;
}

:root {
	--_icon-arrow: "\ea01";
	--_icon-close: "\ea02";
	--_icon-facebook: "\ea03";
	--_icon-github: "\ea04";
	--_icon-instagram: "\ea05";
	--_icon-mail: "\ea06";
	--_icon-serach: "\ea07";
	--_icon-shop: "\ea08";
	--_icon-twitter: "\ea09";
	--_icon-user: "\ea0a";
}
._icon-arrow:before {
	content: var(--_icon-arrow);
}
._icon-close:before {
	content: var(--_icon-close);
}
._icon-facebook:before {
	content: var(--_icon-facebook);
}
._icon-github:before {
	content: var(--_icon-github);
}
._icon-instagram:before {
	content: var(--_icon-instagram);
}
._icon-mail:before {
	content: var(--_icon-mail);
}
._icon-serach:before {
	content: var(--_icon-serach);
}
._icon-shop:before {
	content: var(--_icon-shop);
}
._icon-twitter:before {
	content: var(--_icon-twitter);
}
._icon-user:before {
	content: var(--_icon-user);
}

$_icon-arrow: "\ea01";
$_icon-close: "\ea02";
$_icon-facebook: "\ea03";
$_icon-github: "\ea04";
$_icon-instagram: "\ea05";
$_icon-mail: "\ea06";
$_icon-serach: "\ea07";
$_icon-shop: "\ea08";
$_icon-twitter: "\ea09";
$_icon-user: "\ea0a";
