<section class="py-20">
	<div class="container">
		<div class="py-[76px] px-16 bg-c-gray rounded-primary">
			<h2 class="text-center px-16 not-last:mb-16 font-bold font-f-secondary leading-none text-5xl">BROWSE BY dress STYLE</h2>
			<div class="flex flex-col gap-5 flex-wrap">
				<div class="flex odd:flex-row even:flex-row-reverse  gap-5">
					<div class="odd:basis-7/12 even:basis-full grow min-h-72 relative overflow-hidden bg-white py-6 px-9 rounded-middle">
						<h3 class="text-4xl font-bold relative z-10">Casual</h3>
						<img class="absolute top-0 start-0 w-full h-full object-cover" src="@i/browse/image01.png" alt="image">
					</div>
					<div class="odd:basis-7/12 even:basis-full grow min-h-72 relative overflow-hidden bg-white py-6 px-9 rounded-middle">
						<h3 class="text-4xl font-bold relative z-10">Formal</h3>
						<img class="absolute top-0 start-0 w-full h-full object-cover" src="@i/browse/image02.png" alt="image">
					</div>
				</div>
				<div class="flex odd:flex-row even:flex-row-reverse  gap-5">
					<div class="odd:basis-7/12 even:basis-full grow min-h-72 relative overflow-hidden bg-white py-6 px-9 rounded-middle">
						<h3 class="text-4xl font-bold relative z-10">Gym</h3>
						<img class="absolute top-0 start-0 w-full h-full object-cover" src="@i/browse/image04.png" alt="image">
					</div>
					<div class="odd:basis-7/12 even:basis-full grow min-h-72 relative overflow-hidden bg-white py-6 px-9 rounded-middle">
						<h3 class="text-4xl font-bold relative z-10">Party</h3>
						<img class="absolute top-0 start-0 w-full h-full object-cover" src="@i/browse/image03.png" alt="image">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>